body {
  margin: 0;
}

text {
  font-size: 1.1rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

rect {
  fill: rgba(70, 131, 180, 0.349);
}

.tick line {
  stroke: rgb(228, 228, 228);
}

.tick text {
  fill: rgb(87, 87, 87);
}

.top-title {
  font-size: 2.5rem;
  text-align: center;
  text-anchor: middle;
  fill: rgb(87, 87, 87);
}

.label {
  font-size: 1.9rem;
  fill: rgb(116, 116, 116);
}
